* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: minecraft;
}

@font-face {
  font-family: minecraft;
  src: url(../assets/font/Minecraft.ttf);
}

a {
  text-decoration: none;
}

header {
  background-image: url(../assets/img/Dirt_background_BE1.webp);
}

main {
  background-image: url(https://i.pinimg.com/originals/a9/b9/8c/a9b98c3574eaad53955a8bc73564792e.jpg);
}

footer {
  background-image: url(https://e0.pxfuel.com/wallpapers/254/706/desktop-wallpaper-minecraft-stone-block-texture.jpg);
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 12% auto 7%;
}

nav ul li {
  display: inline-block;
 position: relative;
 left: 500px;
 bottom: 50px;
  padding: 5px;
  background-image: url(../assets/img/Dirt_background_BE1.webp);
}

nav ul li a {
  display: inline-block;
  color: white;
  transition: background-color 1s;
}

nav ul li a:hover {
  color: green;
}

.logoPagina {
  height: 10vh;
  display: flex;
  padding: 5px;
  margin-top: 5px;
  position: relative;
  right: 10px;
}

.logoPagina .textoLogo {
  color: green;
  padding: 10px;
}

.imgInicio {
  height: 300px;
  max-width: 100%;
}

.divInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.textoInicio {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.parrafoInicio {
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 700;
}

.divPadre {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
}

.divPadre .divHijo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.divHijo img {
  width: 100%;
  height: auto;
}

.textoContacto {
  width: 100%;
  margin: 20px 0;
}

.contacto {
  margin: 20px 0;
}

.inputContacto {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  margin: 10px 0;
}

.mapaContacto {
  width: 100%;
  height: 300px;
}

.textoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.textoAnimales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  nav ul li a {
    width: auto;
  }

  nav ul li {
    display: block;
    position: relative;
    bottom: 0px;
   left: 0px;
    background-color: rgba(0, 128, 0, 0.39);
    padding: 2px;
  }

  .textoInicio {
    position: static;
    left: 0;
    bottom: 0;
  }

  .parrafoInicio {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
  }

  .divHijo img {
    height: auto;
  }

  .imgInicio {
    height: 200px;
  }
}