@import 'variables.scss';
@import 'reset.scss';
@import 'utilitarias.scss';
@import 'header.scss';
@import 'main.scss';

@mixin font-minecraft {
    @font-face {
        font-family: minecraft;
        src: url(../assets/font/Minecraft.ttf);
    }
}


body {
    @include font-minecraft;
    font-family: minecraft;
}

a {
    text-decoration: none;
}

header {
    background-image: url(../assets/img/Dirt_background_BE1.webp);
}

main {
    background-image: url(https://i.pinimg.com/originals/a9/b9/8c/a9b98c3574eaad53955a8bc73564792e.jpg);
}

footer {
    background-image: url(https://e0.pxfuel.com/wallpapers/254/706/desktop-wallpaper-minecraft-stone-block-texture.jpg);
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-rows: 12% auto 7%;
}


@media screen and (min-width: 0px) and (max-width: 768px) {
    nav ul li a {
        width: 10%;
    }
    nav ul li {
        display: block;
        position: relative;
        bottom: 40px;
        right: 0px;

    }
    .textoInicio {
        position: relative;
        left: 100px;
        bottom: 300px;
    }
    .parrafoInicio {
        position: relative;
        left: 50px;
       top: 120px;
        width: 85%;
    }
    .divHijo img {
        height: 160px;
    }
   .imgInicio{
    height: 300px;
    
   }
}