$color-negro: black;
$color-blanco: white;
$color-verde: green;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: minecraft;
}
a{
    text-decoration: none;
}
header{
    background-image: url(../assets/img/Dirt_background_BE1.webp);
}
main{
background-image: url(https://i.pinimg.com/originals/a9/b9/8c/a9b98c3574eaad53955a8bc73564792e.jpg);
}
footer{
    background-image: url(https://e0.pxfuel.com/wallpapers/254/706/desktop-wallpaper-minecraft-stone-block-texture.jpg);
}
.grid{
    height: 100vh;
    display: grid;
    grid-template-rows: 12% auto 7%;
}
nav ul li{
list-style: none;
display: inline-block;
padding: 30px;
}
.div0{
display: flex;
width: 100%;
}
.div1{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 68px;
}

nav ul li a{
color: $color-blanco;
transition: background-color 1s;
}
nav ul li a:hover{
color: $color-verde;
    }

.logoPagina{
    height: 10vh;
    display: flex;
    padding: 5px;
    margin-top: 5px;
    .textoLogo{
        color: $color-verde;
        padding: 15px;
        
        }
}


.imgInicio{
height: 344px;
position: relative;
top: 100px;
}

.divInicio{
    display: flex;
margin-top: 100px;
}
.textoInicio{
   position: relative;
   left: 500px;
   bottom: 300px;
   width: 50%;
}
.parrafoInicio{
    position: relative;
    left: 500px;
    bottom: 300px;
    width: 50%;
    color: $color-negro;
    font-weight: 700;

}
.divPadre{
    width: 85%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;

}
.divPadre .divHijo{
width: 300px;
height: 400px;
}
.divHijo {
   margin-top: 50px;
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.divHijo img {
height: 180px;   
}
.textoContacto{
    width: 40%;
    margin-left: 50px;
}
.contacto{
    margin-top: 60px;
    margin-left: 50px;
}
.inputContacto{
    margin-left: 50px;
    height: 30px;
    border-radius: 4px;
}
.mapaContacto{
    margin-top: 20px;
    width: 100%;
}
.textoFooter{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}
.textoAnimales{
   margin-top: 5px;
    display: flex;
    justify-content: center;
}
@font-face{
   font-family: minecraft;
   src: url(../assets/font/Minecraft.ttf);
}
@media screen and (min-width: 0px) and (max-width: 768px){
    nav ul li a{
       width: 10%;
    }
    nav ul li{
        
        display: block;
        position: relative;
        bottom: 40px;
        right: 20px;
        background-color: rgba(0, 128, 0, 0.39);
    }
    .textoInicio{
position: relative;
left: 100px;
bottom: 400px;
}
.parrafoInicio{
    position: relative;
left: 50px;
top: 10px;
width: 70%;
}
.divHijo img{
    height: 180px;
}

}